<header class="site-header">
  <nav>
    <div class="nav-wrapper logos">
      <a href="/" class="brand-logo" aria-label="Arsenal Logo on header">{% include arsenal_1932.svg %}</a>
      <h1>{{page.title}}</h1>
      <ul class="hide-on-med-and-down right">
        <li><a href="/stats/">Statistics</a></li>
        <li><a href="/memorable-matches/">Memorable matches</a></li>
        <li><a href="/records/">Records</a></li>
        <li><a href="/teams/">Head to Head</a></li>
        <li><a href="/seasons/">Seasons</a></li>
      </ul>
    </div>
  </nav>
</header>