<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.1.0/dist/lazyload.min.js"></script>
<script type="text/javascript" src="/assets/js/materialize.min.js"></script>
<script type="text/javascript" src="/assets/js/setup.js?{{ site.time | date: '%s%N' }}" async></script>
{% if page.includeCharts == true %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="/assets/js/charts.js?{{ site.time | date: '%s%N' }}" async></script>
{% endif %}
